.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 50;
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 750px;
  height: 100%;
  background: #fff;
  padding: 30px;
  z-index: 100;
  overflow-y: auto;
  box-shadow: -4px 0 10px rgba(0,0,0,0.3);
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.close-btn {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

/*----------------------------------*/

.empty_cart{
  font-size: 20px;
}

.cart-sidebar h2 {
  font-size: 25px;
  font-weight: 400;
}

.divider {
  border: none;
  height: 3px;
  background-color: #BABABA;
  margin: 3px 0;
}



.cart-item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.cart-product {
  display: flex;
  gap: 12px;
  align-items: center;
}

.cart-preview {
  height: 80px;
  width: auto;
  border-radius: 3px;

}

.cart-title {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  word-break: break-word;
  white-space: normal;
}

.cart-photo-number {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.quantity-controls button {
  width: 22px;
  height: 22px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;       
  border: 1px solid #ccc;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.cart-price {
  text-align: right;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}



.checkout-btn{
  cursor: pointer;
  margin-top: 30px;  
  padding: 10px 35px;
  background: #E8EB81;
  color: #000000;
  font-size: 19px;
  border-radius: 8px;
  transition: transform 0.3s;
  display: block;     
  margin-left: auto;   
}


.cart-total {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}