.catalogue {
  display: flex;
  padding: 60px 80px;
  gap: 60px;
  background-color: #590000;
}

.catalogue-content {
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}


.search-input {
  width: 0;
  opacity: 0;
  padding: 12px 16px;
  margin-right: -5px;
  border-radius: 8px 0 0 8px;
  outline: none;
  background: #DDDDDD;
  color: #777777;
  transition: all 0.3s ease;
}

.search-input.open {
  width: 400px;
  opacity: 1;
}

.search-button {
  width: 48px;
  height: 48px;
  background: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button img {
  width: 25px;
}

.search-input,
.search-button {
  flex-shrink: 0;
}



/* Категорії */
.categories {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #FEFEFE;
  border-radius: 10px;
  width: 300px;
  height: fit-content;
  padding: 20px 15px;
  flex-shrink: 0;
}

.category-item {
  background: transparent;
  border: none;
  padding: 12px 16px;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
  font-weight: 300;
}

.category-item.active {
  background-color: #E8EB81;
  border-radius: 13px;
  font-size: 18px;
}

/* Товари */
.catalogue-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  flex: 1;
  align-items: start;
}

