.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #212121;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1.5);
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer-left {
  flex: 3;  /* більша колонка для логотипу і доставки */
}

.footer-center, .footer-right {
  flex: 1;  /* менші колонки ближче до правого краю */
}

.footer-logo {
  display: flex;             /* Робимо горизонтальне розташування */
  align-items: center;       /* Вирівнювання по вертикалі по центру */
  gap: 10px;                 /* Відстань між текстом і картинкою */
  cursor: pointer;
}

.footer-logo span {
  font-family: 'Abyssinica SIL';
  font-size: 25px;
}

.icon-logo {
  width: 40px;               /* Ширина картинки, можна змінювати */
  height: auto;              /* Зберігаємо пропорції */
}

.footer-left p {
    font-size: 17px;
    color: #D2D2D2;
}


.free-delivery {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 10px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.package {
  width: 30px;              /* Ширина картинки, змінюєте під себе */
  height: auto;             /* Зберігаємо пропорції */
}

.footer-center ul, .footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-center li, .footer-right li {
  margin: 8px 0;
}

.contact-item {
  display: flex;          /* Горизонтальне розташування */
  align-items: center;    /* Вирівнювання по центру вертикально */
  gap: 10px;              /* Відстань між іконкою та текстом */
  margin: 8px 0;          /* Відстань між рядками */
}

.contact-icon {
  width: 30px;            /* Розмір іконки */
  height: 30px;
}

.contact-item {
    color: #A8A8A8; /* колір тексту для всіх li */
}

h3 {
    font-size: 17px;
    font-weight: bold;
}
