.page-wrapper {
  background-color: #590000;
  padding: 10px; /* замість margin у header */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px 15px 25px;
  background-color: #212121;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1.5);
  border-radius: 15px;
}

.logo-container {
  background-color: white;      /* Білий прямокутник */
  padding: 5px 15px;            /* Внутрішні відступи, щоб іконка "сиділа" всередині */
  border-radius: 10px;           /* Заокруглення кутів прямокутника */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.icon-logo {
  height: 50px;
  width: auto;
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav .icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icon-wrapper {
  position: relative; /* щоб кружечок позиціювався відносно іконки */
  display: inline-block;
}

.cart-wrapper {
  position: relative; /* ключове */
}

.cart-badge {
  position: absolute;
  top: 20px;    /*зміщення вниз */
  right: -5px; /* зміщення вправо */
  background-color: #9E5177;
  color: white;
  font-size: 12px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .icon:hover,
.logo-container:hover {
  transform: scale(1.1);
}

.login-text {
  color: white;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.login-text:hover {
  text-decoration: underline;
}
