/* ---------- Загальний фон сторінки ---------- */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #590000; /* темно-бордовий фон */
  padding: 20px;
  box-sizing: border-box;
}

/* ---------- Білий прямокутник ---------- */
.login-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  text-align: center;
}

.login-container h1 {
  margin-top: 0;
  font-size: 28px;
  font-weight: 700;
}

.login-container .subtitle {
  font-size: 16px;
  color: #444;
  margin-bottom: 25px;
}

/* ---------- Форма ---------- */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.login-form label {
  font-weight: 600;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.login-form input {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  transition: border 0.2s;
}

.login-form input:focus {
  border-color: #9e5177;
}

/* ---------- Кнопки ---------- */
.login-btn{
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  background-color: #E8EB81;
  color: #000;
  transition: transform 0.2s, background 0.2s;
}


.login-btn:hover {
  background-color: #dbdf5d;
  transform: scale(1.03);
}

/* ---------- Кнопка зміни стану ---------- */
.switch-mode-btn{
  width: 100%;          
  box-sizing: border-box; 
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  background-color: #ffffff;
  border: solid 2px #E8E8E8;
  color: #000;
}