.photo-uploader {
  border: 2px dashed #aaa;
  padding: 16px;
  border-radius: 12px;
  background: #f9f9f9;
  margin-top: 30px;
}

.photo-uploader.dragging {
  border-color: #590000;
  background: #fff3f3;
}

.upload-label {
  display: block;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
}

.photo-counter{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.preview-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.preview-item {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.preview-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.preview-item button {
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
}
