.product-card {
  background: #FEFEFE;
  padding: 20px;
  border-radius: 12px;
  color: black;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.product-card img {
  width: 100%;
  border-radius: 15px;
}

.product-card h3 {
  margin-top: 15px;  
  font-size: 20px;
  /*min-height: 48px; 
  line-height: 1.2;
  overflow: hidden;*/
}

.price {
  margin: 12px 10px;
  font-size: 20px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-actions button {
  cursor: pointer;
  margin-top: 10px;  
  padding: 8px 22px;
  border: 2px solid #2F2F2F;
  background: transparent;
  color: #000000;
  font-size: 16px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.card-actions button:hover {
  transform: scale(1.05);
  background-color: #f2f2f2;
}

.highlight {
  background-color: #E8EB81;
  padding: 0 2px;
  border-radius: 5px;
}
